<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.p2pfinance.mapper.VisitorMapper">
	
	<select id="getAllNews" resultType="News">
		select * from xw_table
	</select>   
	
</mapper>